* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: CormorantGaramond-Regular;
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
}

@font-face {
  font-family: CormorantGaramond-Italic;
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Italic.ttf");
}

@font-face {
  font-family: CormorantGaramond-Bold;
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf");
}

/* -------------------- general style -------------------- */

html {
  font-family: CormorantGaramond-Regular;
  font-size: 62.5%;
  color: #333;
}

body {
  background-color: #e9e9e0;
}

h1 {
  font-size: 3rem;
  font-family: CormorantGaramond-Bold;
}

h1 span {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
  font-family: CormorantGaramond-Bold;
}

h3 {
  font-size: 2.4rem;
  font-family: CormorantGaramond-Bold;
}

h4 {
  font-size: 1.872rem;
  font-family: CormorantGaramond-Bold;
}

p,
header div {
  font-size: 1.6rem;
}

/* -------------------- header style -------------------- */

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 2rem;
}

h1 {
  grid-column: 1/4;
}

header div {
  border-top: 0.5rem solid #333;
  border-bottom: 0.5rem solid #333;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

/* -------------------- main style -------------------- */

.page-flex {
  display: flex;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 1rem;
}

.main-flex {
  display: flex;
  margin-right: 1rem;
}

h2 {
  text-align: center;
  padding: 2rem 0;
}

.image-text {
  font-family: CormorantGaramond-Italic;
}

/* -------------------- sidebar style -------------------- */

aside {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 2rem;
  margin: 2rem 1rem;
}

aside div {
  border: 0.5rem solid #333;
  width: 22rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.ad-top p {
  font-family: CormorantGaramond-Bold;
  font-size: 5rem;
}

a {
  color: #737b80;
  font-size: 2rem;
  text-decoration: none;
  border-bottom: 0.5px solid #737b80;
  width: fit-content;
}
